.Ticket {
    border: 5px solid #f00303d2;
    border-radius: 10px;
    background-color: rgb(2, 243, 26);
    width: 300px;
    margin-bottom: 5px;
}
p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black;
}